@{
    ViewData["Title"] = "Houses";
}
<h2>Houses</h2>
<table class="table" id="realEstateTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>address</th>
            <th>value</th>
            <th>type</th>
        </tr>
    </thead>
    <tbody>
        <!-- Data will be loaded here -->
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch("/api/realestate")
            .then(response => response.json())
            .then(data => {
                let tableBody = document.querySelector("#realEstateTable tbody");
                tableBody.innerHTML = ""; // Clear table before adding new rows

                data.forEach(realEstate => {
                    let row = `<tr>
                                <td>${realEstate.id}</td>
                                <td>${realEstate.address}</td>
                                <td>${realEstate.value}</td>
                                    <td>${realEstate.type}</td>
                            <td><button onclick="loadDetails(${realEstate.id})">View</button></td>
                        </tr>`;
                    tableBody.innerHTML += row;
                });
            })
            .catch(error => console.error("Error loading products:", error));
    });

    function loadDetails(id) {
        fetch(`/api/users/${id}`)
            .then(response => response.json())
            .then(user => {
                alert(`ID: ${user.id}\nName: ${user.username}\password: ${user.password}`);
            })
            .catch(error => console.error("Error fetching product details:", error));
    }
</script>